.p1 {
    text-transform: uppercase;
}

.p2 {
    text-transform: lowercase;
}

.p3 {
    text-transform: capitalize;
}

.p4 {
    text-transform: uppercase;
}

.p5 {
    text-transform: lowercase;
}

.p6 {
    text-transform: capitalize;
}
