body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}        
        
        
.perent {
    width: 700px;
    height: 700px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.child {
    width: 100px;
    height: 100px;
    background-color: black ;
}
#others {
    flex-grow: 1;
}
#otherss {
    flex-basis: 200px;
}
#other {
    flex-shrink: 3;
}