* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    width: 800px;
    height: 800px;
    border: 2px solid navy;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 250px 400px;
}