* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perent {
    width: 600px;
    height: 400px;
    background-color: red;
}


@media(max-width:1000px){
    .perent {
        width: 450px;
        height: 350px;
        background-color: blue;
        border-radius: 20px;
    }
}

@media(max-width:700px){
    .perent {
        width: 400px;
        height: 300px;
        background-color: yellow;
        border-radius: 40px;
    }
}

@media(max-width:500px){
    .perent {
        width: 400px;
        height: 300px;
        background-color: purple;
        border-radius: 50%;
        transform: rotate(60deg);
    }
}
