.firs{
    color: red;
    font-size: 40px;
    background-color: green;
    border: 3px solid purple;
}

.sec{
    color: orange;  
    font-size: 20px;
    background-color: violet;
    border: none;
}