table {
    width: 70%;
    margin: 30px auto;
    font-family: Arial, sans-serif;
    text-align: center;
}

table, th, td {
    border: 2px solid #333;
}


th {
    background-color: #2e8b57; 
    color: black;
    padding: 10px;
    font-weight: bold;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #2aa3b0; 
    color: black;
}

tr:nth-child(odd) {
    background-color: #eaeaea;
}