@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6eff6;
    Font-size: 16px
    font-family: "Karla", sans-serif;
}

.perent {
    width: 530px;
    height: 460px;
}

.first {
    width: 530px;
    height: 195px;
    background-color: white;
    padding: 25px;
    border-radius: 7px 7px 0 0;
    line-height: 25px;
}

.first h3 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}

#first {
    color: hsl(71, 73%, 54%);
    margin-bottom: 10px;
}

#scond {
    padding: 3px;
    color: grey;
}

.child {
    display: flex;
}

.second  {
    padding: 30px;
    width: 332px;
    height: 22 0px;
    background-color: hsl(179, 62%, 43%);
    color: white;
    border-radius: 0 0 0 7px;
}

.third {
    width: 335px;
    height: 22 0px;
    background-color: #4abebd;
    color: white;
    padding: 30px;
}

.second h4  {
    margin-bottom: 15px;
}
.dola {
    font-size: 28px;
    font-weight: bold;
    display: flex;
}
#lava {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    color: rgb(206, 243, 250);
}

.diff {
    margin-top: 10px;
}

button {
    margin-top: 20px;
    width: 210px;
    height: 40px;
    background-color: hsl(71, 72%, 53%);
    color: white;
}

.third p {
    font-size: 12px;
    color: hsl(182, 62%, 71%);
    line-height: 18px;
}

.plus {
    margin-top: 15px;
}
