* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(218, 22%, 67%);
    Font-size: 16px
}

.perent {
    width: 570px;
    height: 470px;
    border-radius: 7px  ;
}

.first {
    width: 570px;
    height: 200px;
    background-color: white;
    padding: 25px;
}

.first h3 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}

#first {
    color: hsl(71, 73%, 54%);
    margin-bottom: 10px;
}

#scond {
    color: grey;
}

.child {
    display: flex;
}

.second  {
    padding: 30px;
    width: 332px;
    height: 200px;
    background-color: hsl(179, 62%, 43%);
}

.third {
    width: 332px;
    height: 200px;
    background-color: aqua ;
}

.second h4  {
    margin-bottom: 15px;
}
.dola {
    font-size: 28px;
    display: flex;
}
#lava {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    color: lightgray;
}