table {
    border-collapse: collapse; 
    width: 600px;
}

th, td {
    border: 2px solid black;
    text-align: center;
}

tr:nth-child(odd) {
    color: green;
    background-color: red;
    font-family: cursive;
    text-align: center;
}

tr:nth-child(even) {
    color: yellow;
    background-color: blue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;

}