.box {
    color: #ffffff;              
    background-color: #3498db;     
    width: 400px;                  
    padding: 20px;                  
    border: 3px solid #2c3e50;      
    margin: 50px auto;             
    text-align: center;             
}

#boxs {
    color: rgb(0, 0, 0);
    background-color: rgb(241, 196, 15);
}

.textClass {
    color: #2ecc71;
    background-color: #000000;
    font-size: 18px;
    text-align: right;
    border: 2px dashed #e74c3c;
    padding: 10px;
}


#textId {
    color: rgb(255, 255, 255);
    background-color: rgb(155, 89, 182);
    font-size: 24px;
    text-align: center;
    border: 4px solid rgb(44, 62, 80);
    padding: 20px;
}

.se {
    background-color: #1abc9c;
    padding: 30px;
    width: 400px;
    margin: 30px auto;
    border: 3px solid #16a085;
}

.sa {
    color: #ffffff;
    background-color: #e74c3c;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.pd {
    color: #2c3e50;
    background-color: #dfe6e9;
    width: 500px;
    padding: 30px;
    border: 3px dashed #0984e3;
    margin: 40px auto;
}

#cls {
    color: rgb(0, 0, 0);
    background-color: rgb(253, 203, 110);
    width: 600px;
    padding: 50px;
    border: 5px solid rgb(45, 52, 54);
}

button {
    font-size: 14px;
    border-radius: 5px;
}

.btnClass {
    background-color: #6c5ce7;
    color: #ffffff;
    padding: 10px 20px;
}

#btnId {
    background-color: rgb(0, 184, 148);
    color: rgb(0, 0, 0);
    border: 3px solid #2d3436;
}

.parentDiv {
    text-align: center;
    color: #e17055;
    padding: 30px;
    background-color: #ffeaa7;
}


h2 {
    color: #0984e3;
    font-size: 22px;
}

p {
    font-size: 16px;
    background-color: #dfe6e9;
}


.Class {
    color: #00b894;
    border: 2px dashed #636e72;
    padding: 10px;
}


#p1 {
    color: rgb(214, 48, 49);
    border: 3px solid rgb(45, 52, 54);
    padding: 15px;
}


.container {
    text-align: center;
    color: #6c5ce7;
    background-color: #fab1a0;
    padding: 30px;
}