@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f3eae3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perent {
    height: 370px;
    width: 500px;
    background-color: white;
    display: flex;
    border-radius: 8px;
}

h1 {
    line-height: 27px;
    margin-bottom: 25px;
    
}

.diff {
    color: #8a8c91;
    letter-spacing: 4px;
    margin-bottom: 15px;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

.child {
    padding: 25px;
}

.chanel {
    width: 250px;
    height: 370px;
    overflow: hidden;
    border-radius: 8px 0  0 8px;
}

.other {
    font-size: 13px;
    line-height: 18px;
    color: #8a8c91;
}


#other {
    margin-bottom: 8px;
}

.price {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #5c966c;
    font-size: 15px;
    font-family: "Fraunces", serif;
}

h6 {
    text-decoration: line-through;
}

.cart {
    background-color: #5c966c;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-top: 10px;
}

.cart button {
    background-color: #5c966c;
    border: none;
    font-weight: bold;
    color: white;
}
