* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perent {
    width: 700px;
    height: 430px;
    display: grid;
    grid-template-columns: 400px 200px 200px;
    grid-template-rows: 215px 215px;
    gap: 5px;
}

.child {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

#first {
    background: #e91e63;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#second {
    background: #ff9800;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#third {
    background: #9c27b0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#forth {
    background: #607d8b;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}