.w{
    font-size: 38px;
    color: blue;
    background-color: green;
    border: 3px solid red;
}

.p {
    font-size: 46px;
    color: purple;
    background-color: brown;
    border: 7px solid yellow;
}


.k {
    font-size: 27px;
    color: yellow;
    background-color: pink;
    border: 5px solid black;
}

.o {
    font-size: 36px;
    color: green;
    background-color: red;
    border: 8px solid brown;
}

.c {
    font-size: 57px;
    color: yellow;
    background-color: orange;
    border: 5px solid green;
}

.t table {
    font-size: 15px;
    color: blue;
    background-color: green;
    margin: auto;
}

.a table {
    font-size: 18px;
    color: green;
    background-color: red;
    border: 3px solid black;
}


