* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.perent {
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h2 {
    font-size: 20px;
}

.adgili {
    color: #a3e635;
    font-size: 14px;
    margin-top: 15px;
}

.bio {
    font-size: 13px;
    color: #ccc;
    margin-bottom: 20px;
}

.gilaki {
    display: flex;
    flex-direction: column;
}

.gilaki a {
    background: #2a2a2a;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.gilaki a:hover {
    background: #a3e635;
    color: black;
}