* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.perent {
    background-color: hsl(0, 0%, 12%);
    padding: 12px;
    border-radius: 15px;
    text-align: center;
    height: 420px;
    width: 260px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top:15px;
}

p {
    margin-top: 10px;
    font-size: larger
}

.adgili {
    color: #a3e635;
    font-size:11px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.bio {
    font-size: 12px;
    color: #ccc;
    margin-bottom: 20px;
}

.gilaki {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:15px;
    font-size: xx-small;
}

.gilaki a {
    background: #2a2a2a;
    color: white;
    text-decoration: none;
    padding: 11px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.gilaki a:hover {
    background: #a3e635;
    color: black;
}