* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

div {
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


.child1 {
    position: relative;
    left: 105px;
    top: 65px;
}