body{
    height: 100vh;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perent {
    background: white;
    width: 350px;
    padding: 30px;
    text-align: center;
}

.perent h2 {
    color: #48a9c5;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid lightgrey;
}

button {
    width: 100%;
    padding: 10px;
    background: #48a9c5;
    color: white;
}
