@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

#nika {
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 11px;
    font-weight: 500;
    color: #4D4D4D;
}

button {
    width: 133px;
    height: 36px;
    background-color: #4CAF4F;
    border: none;
    color: white;
    font-size: 11px;
    font-weight: 500;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#burger {
    display: none;
}

#button {
    width: 89px;
    height: 36px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 500;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 66px 100px;
    background-color: #f5f7fa;
    position: relative;
}

.first div {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 41%;
}

.first div h1 {
    font-size: 44px;
    font-weight: 600;
    color: #4D4D4D;
    line-height: 1;
}

.first div p {
    font-size: 11px;
    font-weight: 500;
    color: #717171;
}

#nice {
    position: absolute;
    bottom: 10px;
    left: 50%;
}

span {
    color: #4CAF4F;
}

#photo {
    width: 300px;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 100px;
}

.nice {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nice h1 {
    font-size: 25px;
    font-family: 600;
    color: #4D4D4D;
    line-height: 1;
}

.nice p {
    font-size: 11px;
    font-weight: 400;
    color: #717171;
}

.poris {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
    flex-wrap: wrap;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px;
    gap: 5px;
}

.third h1 {
    font-size: 25px;
    font-weight: 600;
    color: #4D4D4D;
}

.third p {
    font-size: 11px;
    font-weight: 400;
}

.big {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20%;
}

.same {
    text-align: center;
    width: 206px;
}

.same img {
    width: 33px;
}

.same h1 {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.2;
}

.same p {
    line-height: 1;
}

.four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.four img {
    width: 305px;
}

.tct {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
}

.tct h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
}

.tct p {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
}

.five {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.txt {
    width: 24%;
}

.txt h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3;
}

.txt p {
    font-size: 11px;
    font-weight: 400;
    color: #18191F;
}

.kill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.biy {
    display: flex;
    align-items: center;
    gap: 12px;
}

.biy img {
    width: 33px;
}

.biy h1 {
    font-size: 19px;
    font-weight: 700;
    color: #4D4D4D;
    line-height: 0.5;
}

.six {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    gap: 10px;
}

.kioa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 37%;
}

.kioa h1 {
    line-height: 1.2;
    font-size: 25px;
    font-weight: 600;
    color: #4D4D4D;
}

.kioa p {
    line-height: 1.2;
    font-size: 9px;
    font-weight: 400;
    color: #717171;
}

.seven {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.guf {
    display: flex;
    flex-direction: column;
    width: 52%;
}

.iaw {
    font-size: 11px;
    font-weight: 500;
    color: #717171;
    line-height: 1.2;
}

.guf h4 {
    font-size: 13px;
    font-weight: 600;
}

#iaw {
    color: #89939E;
    font-size: 11px;
    font-weight: 400;
}

.nlo {
    display: flex;
    align-items: center;
    gap: 12px;

}

.nlo img {
    width: 33px;
}

#final {
    display: flex;
    align-items: center;
    color: #4CAF4F;
}

#final img {
    width: 23px;
    height: 23px;
}

.eight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 100px;
    gap: 20px;
    text-align: center;
}

.text {
    width: 45%;
}

.text h1 {
    font-size: 25px;
    font-weight: 600;
    color: #4D4D4D;

}

.text p {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.8;
}

.big-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bingo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80%;
    gap: 20px;
}

.bingo img {
    border-radius: 6px;
}

.alone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 204px;
    background-color: #F5F7FA;
    position: absolute;
    bottom: -30px;
    padding: 18px 11px;
}

#lonly {
    padding: 11px 11px;
}

.alone p {
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    color: #717171;
}

.alone h6 {
    font-size: 14px;
    font-weight: 600;
    color: #4CAF4F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alone img {
    width: 16px;
}

.nine {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 100px;
    width: 100%;
    gap: 30px;
}

.nine h1 {
    font-size: 44px;
    font-weight: 600;
    width: 40%;
    line-height: 1.2;
}

footer {
    background-color: #263238;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

.good {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

#only {
    width: 130px;
}

.good p {
    font-size: 10px;
    font-weight: 400;
    color: #F5F7FA;
}

.okia img {
    width: 22px;
}

.main-div {
    display: flex;
    gap: 40px;
}

.duty {
    display: flex;
    flex-direction: column;

    gap: 8px;
    position: relative;
}

.duty h1 {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.duty p {
    font-size: 10px;
    font-weight: 400;
    color: #F5F7FA;
}

input {
    width: 177px;
    height: 27px;
    background-color: grey;
    border: none;

    form {
        display: flex;
        align-items: center;
    }

    form img {
        position: absolute;
        right: 10px;
    }

    @media(max-width:1100px) {
        .txt {
            width: 25%;
        }

        .txt h1 {
            font-size: 20px;
        }

    }

    @media(max-width:1000px) {
        header {
            padding: 20px 30px;
        }

        #nika {
            width: 90px;
        }

        .first {
            padding: 66px 30px;
        }

        .first div {
            width: 50%;
        }

        .first div h1 {
            font-size: 30px;
        }

        #photo {
            width: 200px;
        }

        .second {
            padding: 20px 30px;
        }

        .poris {
            gap: 65px;
        }

        .four {
            padding: 20px 30px;
        }

        .four img {
            width: 255px;
        }

        .tct {
            width: 45%;
        }

        .tct h1 {
            font-size: 20px;
        }

        .five {
            padding: 20px 30px;
        }

        .txt {
            width: 35%;
        }

        .six {
            padding: 40px 30px;
        }

        .kioa {
            width: 45%;
        }

        .kioa h1 {
            font-size: 20px;
        }

        .seven {
            padding: 20px 30px;
        }

        .eight {
            padding: 20px 30px;
        }

        .calke {
            width: 170px;
        }

        .alone {
            width: 130px;
        }

        .alone p {
            font-size: 10px;
            width: 80%;
        }

        .alone h6 {
            font-size: 10px;
            width: 80%;
        }

        .alone img {
            width: 16px;
        }

        #lonly {
            padding: 18px 11px;
        }

        .nine {
            padding: 50px 30px;
        }

        .nine h1 {
            font-size: 35px;
            width: 50%;
        }

        footer {
            padding: 50px 30px;
        }


    }

    @media(max-width:900px) {
        .seven {
            flex-direction: column;
        }

        .guf {
            text-align: center;
            align-items: center;
            width: 90%;
        }
    }

    @media(max-width:768px) {
        .five {
            flex-direction: column;
            gap: 12px;
        }

        .txt {
            width: 100%;
            text-align: center;
        }

        .txt h1 {
            font-size: 15px;
        }


        .biy img {
            width: 25px;
        }

        .biy h1 {
            font-size: 15px;
        }

        .biy p {
            font-size: 10px;
        }

        .six img {
            width: 200px;
        }

        .big-div {
            flex-wrap: wrap;
            gap: 20px;
        }

        .text {
            width: 100%;
        }

        .text h1 {
            font-size: 20px;
        }

        .text p {
            font-size: 10px;
        }

    }

    @media(max-width:600px) {
        nav {
            display: none;
        }

        #burger {
            display: flex;
        }

        .first {
            flex-direction: column;
            gap: 45px;
        }

        .first div {
            width: 100%;
            text-align: center;
            align-items: center;
        }

        .third {
            padding: 20px 30px;
        }

        .third h1 {
            font-size: 13px;
        }

        .four {
            flex-direction: column;
        }

        .four img {
            width: 255px;
        }

        .tct {
            text-align: center;
            align-items: center;
            width: 100%;
        }

        .tct h1 {
            font-size: 20px;
        }

        .six {
            flex-direction: column;
        }


        .kioa {
            width: 100%;
            text-align: center;
            align-items: center;
        }

        .kioa h1 {
            font-size: 20px;
        }

        .kioa button {
            width: 100px;
        }

        .nlo img {
            width: 20px;
        }

        #die {
            width: 150px;
        }

        #final {
            font-size: 7px;
        }

        .iaw {
            font-size: 7px;
        }

        .nine h1 {
            font-size: 20px;
            width: 55%;
        }

    }