@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

#nika {
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 11px;
    font-weight: 500;
    color: #4D4D4D;
}

button {
    width: 133px;
    height: 36px;
    background-color: #4CAF4F;
    border: none;
    color: white;
    font-size: 11px;
    font-weight: 500;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#burger {
    display: none;
}

#button {
    width: 89px;
    height: 36px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 500;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 66px 100px;
    background-color: #f5f7fa;
    position: relative;
}

.first div {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 41%;
}

.first div h1 {
    font-size: 44px;
    font-weight: 600;
    color: #4D4D4D;
    line-height: 1;
}

.first div p {
    font-size: 11px;
    font-weight: 500;
    color: #717171;
}

#nice {
    position: absolute;
    bottom: 10px;
    left: 50%;
}

span {
    color: #4CAF4F;
}

#photo {
    width: 300px;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 100px;
}

.nice {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nice h1 {
    font-size: 25px;
    font-family: 600;
    color: #4D4D4D;
    line-height: 1;
}

.nice p {
    font-size: 11px;
    font-weight: 400;
    color: #717171;
}

.poris {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
    flex-wrap: wrap;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px;
    gap: 5px;
}

.third h1 {
    font-size: 25px;
    font-weight: 600;
    color: #4D4D4D;
}

.third p {
    font-size: 11px;
    font-weight: 400;
}

.big {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.same {
    text-align: center;
}

.same img {
    width: 33px;
}

.same h1 {
    font-size: 19px;
    font-weight: 700;
}

.same p {
    line-height: 1;
}


@media(max-width:1000px) {
    header {
        padding: 20px 30px;
    }

    #nika {
        width: 90px;
    }

    .first {
        padding: 66px 30px;
    }

    .first div {
        width: 50%;
    }

    .first div h1 {
        font-size: 30px;
    }

    #photo {
        width: 200px;
    }

    .second {
        padding: 20px 30px;
    }

    .poris {
        gap: 65px;
    }


}

@media(max-width:600px) {
    nav {
        display: none;
    }

    #burger {
        display: flex;
    }

    .first {
        flex-direction: column;
        gap: 45px;
    }

    .first div {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}