.link1:link{
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}


.link2:visited{
    color: yellow;
    background-color: purple;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}


.link3:hover{
    color: black;
    background-color: orange;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}


.link4:active{
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}