@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    background-color: #F5F5F5;
}

.perent {
    width: 750px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.nice {
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.erti {
    background-color: #FAEEE2;
    grid-row: 1 / 7;
    padding: 35px 15px;
}

.erti p {
    font-size: 25px;
    color: black;
    line-height: 0.9;
    font-weight: 500;
}

.erti img {
    width: 150px;
    transform: translateY(20px);

}

.ori {
    background-color: #7651DC;
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}



.ori p {
    line-height: 1;
    
}

.ori img {
    width: 100px;
}

.sami {
    background-color: #DCD1FC;
    grid-row: 1 / 9;
    line-height: 0.9;
    color: #17141D;
    letter-spacing: 0.5;
}

.sami img {
    width: 130px;
    
    height: 200px;
}

.otxi {
    background-color: #FFFFFF;
    grid-row: 5 / 13;
    color: black;
    line-height: 0.9;
}

.otxi img {
    width: 150px;
    
}


.xuti {
    background-color: #FFCC69;
    grid-row: 5 / 9;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;

}

.xuti p {
    font-size: 23px;
}

.xuti img {
    width: 120px;

}

.eqvsi {
    background-color: #FFCC69;
    grid-row: 7 / 13;
    line-height: 1;
    font-size: 25px;
    letter-spacing: 0.2;
    color: black;
    font-weight: 500;
    
}

.eqvsi img {
    width: 150px;

}



.shvidi {
    background-color: #7651DC;
    grid-column: 3 / 5;
    grid-row: 9 / 13;
    display: flex;
    line-height: 1;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}


.shvidi img {
    width: 150px;
    height: 130px;
} 