@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.Parent {
    width: 930px;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    border-radius: 15px;
}



.child {
    border-radius: 8px 0 0 8px;
    width: 260px;
    height: 450px;
    padding: 40px 30px;
    color: white;
}

.child1 {
    width: 260px;
    height: 450px;
    padding: 40px 30px;
    color: white;
}
.child2 {
    border-radius: 0 8px 8px 0;
    width: 260px;
    height: 450px;
    padding: 40px 30px;
    color: white;
}

.child h1 {
    font-size: 30px;
    margin: 30px 0;
    font-family: "Big Shoulders", sans-serif;
}



.child1 h1 {
    font-size: 30px;
    margin: 30px 0;
    font-family: "Big Shoulders", sans-serif;
}



.child2 h1 {
    font-size: 30px;
    margin: 30px 0;
    font-family: "Big Shoulders", sans-serif;
}


.child p {
    font-weight: light;
    font-size: 14px;
    line-height: 25px;
    font-family: "Lexend Deca", sans-serif;
}



.child1 p {
    font-weight: light;
    font-size: 14px;
    line-height: 25px;
    font-family: "Lexend Deca", sans-serif;
}



.child2 p {
    font-weight: light;
    font-size: 14px;
    line-height: 25px;
    font-family: "Lexend Deca", sans-serif;
}

#sedan { 
    background: hsl(31, 77%, 52%);
}

#SUVs { 
    background: hsl(184, 100%, 22%);
}

#Luxury { 
    background: hsl(179, 100%, 13%);
}

#sedan button { 
    color: hsl(31, 77%, 52%); 
}
#SUVs button { 
    color: hsl(184, 100%, 22%); 
}
#Luxury button { 
    color: hsl(179, 100%, 13%); 
}


.perent div {
    height: 100%;
    display: flex;
    justify-content: center;
    /* padding: 40px; */
}

.child button {
    margin-top: 70px;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.child1 button {
    margin-top: 70px;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}


.child2 button {
    margin-top: 70px;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}