* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.perent {
    width: 900px;
    height: 500px;
    display: grid;
    gap: 8px;
    background-color: #413D3D;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.child {
    border-radius: 2px;
}

#pirveli {
    background: #f44336;
    grid-column: 1;
    grid-row: 1 / span 2;
}

#meore {
    background: #36c2d1;
    grid-column: 2 / span 2;
    grid-row: 1;
}

#mesame {
    background: #d9b66b;
    grid-column: 4 / span 2;
    grid-row: 1;
}

#meotxe {
    background-color: white;
    grid-column: 1;
    grid-row: 3 / span 2;

}

#mexute {
    background: #d9b66b;
    grid-column: 2;
    grid-row: 2 / span 2;
}

#meqvse {
    background-color: white;
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}

#meshvide {
    background: #f44336;
    grid-column: 5;
    grid-row: 2 / span 3;
}

#merve {
    background: #f44336;
    grid-column: 2 / span 2;
    grid-row: 4;
}

#mecxre {
    background: #36c2d1;
    grid-column: 4;
    grid-row: 4;
}
